
  /* Set a background color */
  article {
    padding-left:2%;
    padding-right: 2%;
    text-align:justify;
    /*background-color: #F8F8F8; */
    background-color: white;
    /*font-family: Verdana,Helvetica,'Courier New', Arial, Helvetica, Sans-Serif;*/
    font-family:  Cochin,'Times New Roman', Times, serif
    color: #444444;
    font-size: 14gpt;
    }
  
