
  /* Set a background color */
  article {
    padding-left:2%;
    padding-right: 2%;
    text-align:justify;
    /*background-color: #F8F8F8; */
    background-color: white;
    font-family: Arial, Georgia, Helvetica, Sans-Serif;
    color: #444444;
    font-size: 18pt;
    }

