
body {
  background-color: white;
  
}
footer {
  width: 100%;
  /*background-color: hsla(141, 76%, 79%, 0.784);*/
  background-color: green;

  font-size: 10px;
}
.footer-content {
  display: flex;
  justify-content: center; /* Allinea al centro orizzontalmente */
  align-items: center;    /* Centra verticalmente */
  padding: 10px;          /* Spaziatura opzionale */
}

.footer-image {
  max-width: 260px;       /* Imposta una dimensione massima per l'immagine */
  height: auto;           /* Mantiene le proporzioni */
}
.principale {
  background-color: white;
  width: 90%;
}
.obiettivi{
  background-color: white;
  
  font-size: 12pt;
  height: 200px;
}
h1 {
  color: green
}
h2 {
  color: white ;
  color: green;
 
  font-weight: bold;
}
h3 {
  color: green
}
p {
  color: green;
  /*font-weight: bold;*/
  font-family: Helvetica,Tahoma,Arial;
  font-size: 20px;
}

  
/* Ridefinisco alcune proprietà per schermi dei dispositivi mobili con schermo inferiore a 767px.*/
@media screen and (max-width: 767px) {
  /* Place the timelime to the left */
    body {
      /*background-color: hsla(141, 76%, 79%, 0.784);*/
      background-color: white
    }
    .principale{
      width: 100%;
    }
  
      
    }