/** {
    box-sizing: border-box;
  }
*/
  
  /* The actual timeline (the vertical ruler) */
  .timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  /* The actual timeline (the vertical ruler) */
  .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: navy;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }
  
  /* Container around content */
  .Tcontainer {
    padding: 10px 40px;
    position: relative;
    background-color: white;
    font-family: Helvetica, sans-serif;
    width: 50%;
  }
  
  /* The circles on the timeline */
  .Tcontainer::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid greenyellow;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }
  
  /* Posizionamento del contenitore testo e link sulla sinistra */
  .left {
    left: 0;
  }
  
  /* Posizionamento del contenitore testo e link sulla destra */
  .right {
    left: 50%;
  }
  
  /* Aggiunta di una freccia al contenitore posizionato a sinistra. La freccia indica un punto (anno) sulla linea verticale alla sua destra */
  .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent black;
  }
  
  /* Aggiunta di una freccia al contenitore posizionato a destra. La freccia indica un punto (anno) sulla linea verticale alla sua sinistra */

  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent black transparent transparent;
  }
  
  /* Fix the circle for containers on the right side */
  .right::after {
    left: -16px;
  }
  
  /* definisco il contenitore del testo e dei link per aprire i bilanci dei vari anni */
  .content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 20px;
  }
  
  /* ridefinisco la proprietà trext decoration dei link all'interno del contenitore della timeline per eliminare la presentazione con il testo sottolineato */
  a:link{
    text-decoration: none;
  }

  /* Ridefinisco alcune proprietà per schermi dei dispositivi mobili con schermo inferiore a 600px.*/
  @media screen and (max-width: 767px) {

  /* Timeline sempre a sinistra*/
    .timeline::after {
      left: 15px;
    }
  
  /* Il contenitore presenta i dati solo verticalmente e non sinistra destra come per gli schermi più grandi */
  .Tcontainer {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    font-family:  sans-serif;    
    padding: 10px 10px;
    position: relative;
  }
  
  
  /* Tutte le frecce sulla linea del tempo puntano a sinistra */
    .Tcontainer::before {
      left: 25px;
      border: medium solid white;
      border-width: 10px 10px 10px 10px;
      border-color: transparent black transparent transparent;
      top: 15px;
    }
  
  /* Il cerchietto alll'interno della linea del tempo si trova sempre allo stesso punto */
    .left::after, .right::after {
      left: 0px;
    }
  
  /* Non c'è differenza tra pannello sinistro e destro */
    .right {
      left: 0%;
    }
  }


 
  